[builderList jobsListing]
modelClass = "Searchit\Jobs\Models\Job"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "jobs-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 12
pageNumber = "{{ :page }}"
sortColumn = "date"
sortDirection = "desc"

[facebookMessenger]
page = "https://www.facebook.com/searchitrecruitment/"
language = "en_US"
==
{% set records = jobsListing.records %}
{% set displayColumn = jobsListing.displayColumn %}
{% set noRecordsMessage = jobsListing.noRecordsMessage %}
{% set detailsPage = jobsListing.detailsPage %}
{% set detailsKeyColumn = jobsListing.detailsKeyColumn %}
{% set detailsUrlParameter = jobsListing.detailsUrlParameter %}

{% if facebookMessenger.page|length > 0 %}
<!-- FB Messenger -->

<div id="messanger-chat" class="remodal" data-remodal-id="modal">
	<div class="chat-open">
		<div class="chat-title">
			{{ 'Begin chat!'|_ }}
		</div>
	</div>
	<div class="chat-close">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
    <div class="fb-page" data-tabs="messages" data-href="{{ facebookMessenger.page }}" data-width="310" data-height="330" data-small-header="true"  data-hide-cover="false" data-show-facepile="true" data-adapt-container-width="true"></div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/{{ facebookMessenger.language }}/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End FB Messenger -->
{% endif %}

<footer>
	<div class="footer-up">
		<div class="row">
			<div class="col-l-1-of-4 col-s-1-of-2 col-xs-1-of-1 footer-section">
				<hr>
				<span>{{ 'Contact'|_ }}</span>
				<div class="textwidget">
					{% content 'footer-col1.htm' %}
				</div>
			</div>
			<div class="col-l-1-of-4 col-s-1-of-2 col-xs-1-of-1 footer-section">
				<hr>
				<span>{{ 'Recent jobs'|_ }}</span>
				<div class="textwidget">
					<p>
						{% for record in records %}
							<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
	                            {{ record.title }}
	                        </a><br/>
						{% endfor %}
					</p>
				</div>
			</div>
			<div class="col-l-1-of-4 col-s-1-of-2 col-xs-1-of-1 footer-section hot-skills">
				<hr>
				<span>{{ 'Hot skills'|_ }}</span>
				<div class="textwidget">
					{% content 'footer-col3.htm' %}
				</div>
			</div>
			<div class="col-l-1-of-4 col-s-1-of-2 col-xs-1-of-1 footer-section">
				<hr>
				<span>{{ 'Newsletter'|_ }}</span>
				<div class="textwidget">
					{% content 'footer-col4.htm' %}
				</div>
			</div>
		</div>
	</div>
	<div class="footer-down">
		
	</div>
</footer>