[builderList jobsListing]
modelClass = "Searchit\Jobs\Models\Job"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "jobs-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 12
pageNumber = "{{ :page }}"
sortColumn = "date"
sortDirection = "desc"
==
{% set records = jobsListing.records %}
{% set displayColumn = jobsListing.displayColumn %}
{% set noRecordsMessage = jobsListing.noRecordsMessage %}
{% set detailsPage = jobsListing.detailsPage %}
{% set detailsKeyColumn = jobsListing.detailsKeyColumn %}
{% set detailsUrlParameter = jobsListing.detailsUrlParameter %}
<footer>
	<div class="footer-up">
		<div class="row">
			<div class="col-l-1-of-4 col-s-1-of-2 col-xs-1-of-1 footer-section">
				<hr>
				<span>{{ 'Contact'|_ }}</span>
				<div class="textwidget">
					{% content 'footer-col1.htm' %}
				</div>
			</div>
			<div class="col-l-1-of-4 col-s-1-of-2 col-xs-1-of-1 footer-section">
				<hr>
				<span>{{ 'Recent jobs'|_ }}</span>
				<div class="textwidget">
					<p>
						{% for record in records %}
							<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
	                            {{ record.title }}
	                        </a><br/>
						{% endfor %}
					</p>
				</div>
			</div>
			<div class="col-l-1-of-4 col-s-1-of-2 col-xs-1-of-1 footer-section hot-skills">
				<hr>
				<span>{{ 'Hot skills'|_ }}</span>
				<div class="textwidget">
					{% content 'footer-col3.htm' %}
				</div>
			</div>
			<div class="col-l-1-of-4 col-s-1-of-2 col-xs-1-of-1 footer-section">
				<hr>
				<span>{{ 'Newsletter'|_ }}</span>
				<div class="textwidget">
					{% content 'footer-col4.htm' %}
				</div>
			</div>
		</div>
	</div>
	<div class="footer-down">
		
	</div>
</footer>