{% if pagination.lastPage > 1 %}
    <nav class="navigation pagination" role="navigation">
        <div class="nav-links">
            {% if pagination.currentPage > 1 %}
                <a class="prev page-numbers" href="{{ pagination.url(pagination.currentPage-1) }}">Prev</a>
            {% endif %}

            {% for page in 1..pagination.lastPage %}
                {% if pagination.currentPage == page %}
                    <span class="current page-numbers">
                        {{ page }}
                    </span>
                {% else %}
                    <a class="page-numbers" href="{{ pagination.url(page) }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if pagination.lastPage > pagination.currentPage %}
                <a class="next page-numbers" href="{{ pagination.url(pagination.currentPage+1) }}">Next</a>
            {% endif %}
        </div>
    </nav>
{% endif %}
