==
<?php

public function onStart()
{
    if(App::getLocale() == 'en') {
        $this['jobUrl'] = "/en/jobs/";
    } else {
        $this['jobUrl'] = "/nl/vacatures/";
    }
}

?>
==
{% for record in jobs %}
	<article class="the-job">
        <div class="row">
            <div class="col-xxl-8-of-10 col-xl-9-of-10 col-xs-1-of-1">
                {# Use spaceless tag to remove spaces inside the A tag. #}
                {% spaceless %}
                    <h3>
                        <a href="{{ jobUrl }}{{ record.slug }}" class="the-job-title">
                            {{ record.title }}
                        </a>
                    </h3>
                {% endspaceless %}
                <hr class="job-green">
                <p>
                    {{ html_limit(record.summary|raw, 300) }}
                </p>
                <div class="row in-short">
                    <div class="col-l-4-of-10">
                        <p><strong>{{ 'Location:'|_ }}</strong> {{ record.location }}</p>
                    </div>
                    <div class="col-l-2-of-7">
                        <p><strong>{{ 'Type:'|_ }}</strong> {{ record.types[0].type_name }}</p>
                    </div>
					{% if record.salary_min != 0 or record.salary_max != 0 %}
                      <div class="col-l-5-of-16">
                          <p><strong>{{ 'Salary:'|_ }}</strong> {{ record.salary_min|number_format(0, '.', '.') }} - {{ record.salary_max|number_format(0, '.', '.') }} euro</p>
                      </div>
                    {% endif %}
                </div>
                <a href="{{ jobUrl }}{{ record.slug }}" class="job-readmore">
                    {{ 'Read more'|_ }}
                </a>
                <hr/>
            </div>
        </div>
    </article>
{% else %}
    <article class="the-job">
        <div class="row">
            <h3>
               {{ 'Nothing found...'|_ }}
            </h3>
        </div>
    </article>
{% endfor %}

<div id="jobs-pagination">
    {% partial 'pagination' %}
</div>
