title = "Jobs single"
url = "/job/:slug"
layout = "tpl-jobs-single"
is_hidden = 0

[staticMenu]
code = "main-menu"

[builderDetails]
modelClass = "Searchit\Jobs\Models\Job"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"

[form]

[localePicker]
forceUrl = 1

[viewBag]
localeUrl[nl] = "/vacature/:slug"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}
{% set fulfilled = false %}

{% if record %}
    {% for category in record.categories %}
		{% if category.category_slug == 'fulfilled' %}
			{% set fulfilled = true %}
		{% endif %}
	{% endfor %}
	<div class="row bg-lgrey">
		<div class="col-l-1-of-4 col-m-1-of-3 col-xs-1-of-1 job-details">
			<aside>
				<div class="row the-details">
					<div class="col-xl-4-of-10 col-m-1-of-1 col-s-2-of-10 col-xs-1-of-1 title">
						{{ 'Location:'|_ }}
					</div>
					<div class="col-xl-6-of-10 col-m-1-of-1 col-s-8-of-10 col-xs-1-of-1 value">
						{{ record.location }}
					</div>
				</div>
				<div class="row the-details">
					<div class="col-xl-4-of-10 col-m-1-of-1 col-s-2-of-10 col-xs-1-of-1 title">
						{{ 'Job type:'|_ }}
					</div>
					<div class="col-xl-6-of-10 col-m-1-of-1 col-s-8-of-10 col-xs-1-of-1 value">
						{{ record.types[0].type_name }}
					</div>
				</div>
				<div class="row the-details">
					{% if record.salary_min != 0 or record.salary_max != 0 %}
						<div class="col-xl-4-of-10 col-m-1-of-1 col-s-2-of-10 col-xs-1-of-1 title">
							{{ 'Salary:'|_ }}
						</div>
						<div class="col-xl-6-of-10 col-m-1-of-1 col-s-8-of-10 col-xs-1-of-1 value">
							{{ record.salary_min|number_format(0, '.', '.') }} - {{ record.salary_max|number_format(0, '.', '.') }} euro
						</div>
					{% endif %}
				</div>
				<div class="row the-details">
					<div class="col-xs-1-of-1 share-btn">
						<ul class="share-buttons">
						  <li>
						  	<div class="hexagon facebook">
						  		<a href="https://www.facebook.com/sharer/sharer.php?u={{ this.page.id | page }}&t={{ record.title }}" title="Share on Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						  	</div>
						  </li>
						  <li>
							<div class="hexagon twitter">
							  	<a href="https://twitter.com/intent/tweet?source={{ this.page.id | page }}&text={{ record.title }}" target="_blank" title="Tweet"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						  	</div>
						  </li>
						  <li>
							<div class="hexagon whatsapp">
							  	<a href="whatsapp://send?text={{ record.title }}&nbsp;&nbsp;{{ this.page.id | page }}" target="_blank" title="Share via Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
						  	</div>
						  </li>
						  <li>
							<div class="hexagon gplus">
						  		<a href="https://plus.google.com/share?url={{ this.page.id | page }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
						  	</div>
						  </li>
						  <li>
						  	<div class="hexagon pocket">
						  		<a href="https://getpocket.com/save?url={{ this.page.id | page }}&title={{ record.title }}" target="_blank" title="Add to Pocket"><i class="fa fa-get-pocket" aria-hidden="true"></i></a>
						  	</div>
						  </li>
						  <li>
						  	<div class="hexagon linkedin">
						  		<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ this.page.id | page }}&title={{ record.title }}&summary=Checkout%20this%20job%20offer!&source={{ this.page.id | page }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						  	</div>
						  </li>
						  <li>
						 	<div class="hexagon mail">
						  		<a href="mailto:?subject={{ record.title }}&body=Checkout%20this%20job%20offer: {{ this.page.id | page }}" target="_blank" title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						  	</div>
						  </li>
						</ul>
					</div>
				</div>
				{% if record.lat and record.lng %}
					<div class="row the-details">
						<div class="col-xs-1-of-1 map">
							<div id="job_map"></div>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col-xs-1-of-1">
						<a href="#" class="scrollTo apply-to" data-to="apply-form-section">{{ 'Apply'|_ }}</a>
					</div>
				</div>
			</aside>
		</div>
		<div class="col-l-3-of-4 col-m-2-of-3 col-xs-1-of-1 job-content bg-white">
			<article class="the-job-content">
				<div class="row the-job-content-text">
					<div class="col-xxl-8-of-10 col-xl-9-of-10 col-xs-1-of-1">
						<h2>
							{{ record.title }}
						</h2>
						<hr class="job-green">
						{{ record.summary|raw }}
					</div>
				</div>
				{% if fulfilled == false  %}
					{% component 'form' %}
				{% endif %}
			</article>
		</div>
		<div class="gradient col-l-1-of-4 col-m-1-of-3"></div>
	</div>

{% else %}
    {{ notFoundMessage }}
{% endif %}